{
	"parser": "babel-eslint",
	"env":{
		"node":true,
		"es6":true,
		"mocha":true
	},
	"rules": {
		"strict":0,
		"eqeqeq":0,
		"quotes":0,
		"comma-spacing":0,
		"no-unused-vars":0,
		"no-ternary":1,
		"no-trailing-spaces":0,
		"space-infix-ops":1,
		"camelcase":1,
		"semi-spacing":0,
		"key-spacing":0,
		"no-shadow":1,
		"no-use-before-define":1,
		"no-mixed-requires":1,
		"no-underscore-dangle":0
	},
	"ecmaFeatures": {
		// reflux-core uses context aware actions and events, which requires dynamic `this` style bindings
		// use of super when paired with class can cause problems with the lexical nature of contexts within
		// reflux-core
		"superInFunctions":false,
		
		// reflux-core is an isomorphic library that does not have any view-rendering responsibilities
		// keeping jsx out of the core ensures it will remain as portable as possible without need for transpile
		"jsx":false,

		// designed as server-side javascript first, with browser compile compat via babel
		"modules":false
	}
}
