{
    "parser": "babel-eslint",
    "env": {
        "node": true
    },
    "rules": {
        "strict": 0,
        "no-use-before-define": 0,
        "dot-notation": 0,
        "no-cond-assign": 1,
        "no-underscore-dangle": 1,
        "space-infix-ops": 1,
        "no-shadow": 1,
        "no-new": 1,
        "semi-spacing": 1,
        "eol-last": 0
    }
}
